fastapi==0.115.0
uvicorn==0.30.6

pdfminer.six
python-docx
python-multipart

spacy==3.8.2

openai
python-dotenv

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl